:root {
  -webkit-locale: 'sv';
}

* {
  box-sizing: border-box;
  color: $foreground-color;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; // footer at bottom

  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
  background-color: $background-color;
  color: $foreground-color;
  font-size: 1.1em;
  line-height: 1.5;
  hyphens: auto;
}

code {
  margin: 0 0.1em;
  padding: 0.1em 0.2em;
  border: $border;
  border-radius: $border-radius;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar { 
    display: none;
  }
}

pre {
  max-width: 90vw;
  padding: 0 1em;

  code {
    display: block;
    padding: 1em;
    overflow-x: auto;
    line-height: 1.4;
  }
}

blockquote {
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  border-left: $border;
}

h1 {
  margin-bottom: 1em;
  color: $header-color;
  text-wrap: balance;
}

p {
  margin-bottom: 1em;
}

ol,
ul {
  padding-left: 1.5em;
}

img {
  max-width: 100%;
  object-fit: scale-down;
  border-radius: $border-radius;

  &:not([alt]) {
    outline: 4px $tertiary-3 dashed !important;
  }
}
