@use 'variables' as *;

.footer {
  background-color: $footer-background-color;

  font-size: 0.9em;
  text-align: center;
  opacity: 0.5;
  padding: 0.5em 1em;
  margin: 1em 0 0;

  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;

  .social {
    font-size: 2em;
  }

  a {
    text-decoration: none;
  }

  a i {
    color: $social-color;
  }
}
