.gallery {
  column-count: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  margin: 1em 0;
  max-width: 100%;
  transition: transform 0.2s;

  > .picture {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
  }

  > .picture:hover {
    filter: brightness(0.8) contrast(1.2) grayscale(0.5);
    transform: scale(1.5);
    z-index: 10;
  }

  @media not print {
    @media (min-width: 0) {grid-template-columns: auto;}
    @media (min-width: 500px) {grid-template-columns: repeat(2, auto);}
    @media (min-width: 700px) {grid-template-columns: repeat(3, auto);}
    @media (min-width: 900px) {grid-template-columns: repeat(4, auto);}
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 1em;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
