@use 'abstracts' as *;

.main {
  vertical-align: top;
  column-count: 2;
  column-width: 15em;
  column-gap: 1em;
  column-fill: balance;
 
  &:first-child {
    margin-top: 0;
  }
}

@mixin sym {
  font-size: 0.5em;
  color: $navigation-menu-color;
}

.main h1:first-of-type::before,
.landingpage h1:first-of-type::before {
  content: '✰ ';
  @include sym;
}

.main h1:first-of-type::after,
.landingpage h1:first-of-type::after {
  content: ' ✰';
  @include sym;
}

.main p:first-of-type::first-letter {
  color: $title-color;
  font-family: 'LibreBodoni-BoldItalic';
  initial-letter: 3;
  margin-right: 0.15em;
  margin-top: 0.1em;
  /* Firefox */
  float: left;
  font-size: 500%;    
}

.center {
  text-align: center;
}
