/* analogous color scheme, three plus complementary, and contrast colors */

$primary-1: #713d00;
$primary-2: #bb6603;
$primary-3: #ff9215;
$primary-4: #ffab4a;
$primary-5: #ffc37e;

$secondary-1: #715900;
$secondary-2: #bb9303;
$secondary-3: #ffcc15;
$secondary-4: #ffd74a;
$secondary-5: #ffe37e;

$tertiary-1: #700003;
$tertiary-2: #b90308;
$tertiary-3: #fd151b;
$tertiary-4: #fd494e;
$tertiary-5: #fe7e81;

$complement-1: #033148;
$complement-2: #085276;
$complement-3: #1573a1;
$complement-4: #3c90b9;
$complement-5: #71b7d9;

$contrast-dark-1: #9f9d9c;
$contrast-dark-2: #5c5c5c;
$contrast-dark-3: #101010;
$contrast-dark-4: #000;
$contrast-dark-5: #060303;

$contrast-light-1: #fffefd;
$contrast-light-2: #fff7f0;
$contrast-light-3: #f7e4d5;
$contrast-light-4: #d4b7a0;
$contrast-light-5: #b38d6f;
