$font-path: '../font/';

$background-color: #101010;
$forground-color: #f7e4d5;
$title-color: #aa0001;
$header-color: #c59021;

$footer-background-color: #2b2728;
$navigation-menu-color: #59575c;
$social-color: #4a7107;

$border: 1px solid #ff9315;
$border-radius: 0.3em;
