$foreground-color: $contrast-dark-3;
$background-color: $contrast-light-3;

$title-color: $tertiary-2;
$header-color: $primary-2;

$footer-background-color: $contrast-light-4;
$navigation-menu-color: $contrast-dark-5;

$border-color: $complement-3;
$border: 1px solid $border-color;
$border-radius: 0.3em;

$font-path: '../font/';
$svg-path: '../../../assets/svg/';
