$background-color: $contrast-dark-3;
$forground-color: $contrast-light-3;

$title-color: $tertiary-3;
$header-color: $primary-3;

$footer-background-color: $complement-1;
$navigation-menu-color: $contrast-dark-1;

$border-color: $secondary-4;
$border: 1px solid $border-color;
$border-radius: 0.3em;

$font-path: '../font/';
$svg-path: '../../../assets/svg/';
