@import '../../node_modules/normalize.css/normalize';
@import 'palette';
@import 'variables';
@import 'common';
// @import 'fontawesome';

img {
  filter: brightness(0.9) contrast(1.1);
}

.nofilter {
  filter: initial;
}

::selection {
  background: $title-color;
}
